In [59]:
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [60]:
#!pwd                 #<---- # Para ambientes Linux
print (os.getcwd())   #<----- # para ambientes Windows

#copie e cole o caminho apos o r'...' na linha abaixo

C:\Users\João\Dropbox\Jupyter notebook\Conta Respostas

In [61]:
path = r'\Users\João\Dropbox\Jupyter notebook\Conta Respostas' # colocar o caminho aqui
all_files = glob.glob(path + "/*.csv") # carregando arquivos do diretorio

dflist = [] # criando dicionario para armazenar os dataframes

for cont in all_files: # pego os arquivos no glob e importa via dataframe
    dflist.append(pd.read_csv(cont, sep=';'))

In [62]:
for cont in range(len(dflist)):
    dflist[cont].reset_index(drop=True, inplace=True)
    dflist[cont].insert(1, 'Avaliar/10,00', 0)
    dflist[cont]['Avaliar/10,00'] = dflist[cont]['Avaliar/10,00'].astype(float)

for cont in range(len(dflist)):
    indices=0
    datatemp = dflist[cont].iloc[:,0:2]
    dflist[cont] = dflist[cont].drop(dflist[cont].columns[0:2], axis=1)
    
    while indices<(len(dflist[cont].index)):
        x=0
        y=(len(dflist[cont].columns)) # quantidades de colunas ou melhor "respostas" | -1 por causa da ultima coluna
        columns = list(dflist[cont]) # para simplicar vamos criar uma lista de colunas de dados e, em seguida, iterar por essa lista para extrair as colunas do dataframe
        
        for column in columns:
            if ((pd.isna(dflist[cont][column][indices])) |
                (dflist[cont][column][indices] == '</NULL>') |
                (dflist[cont][column][indices] == '-') |
                (dflist[cont][column][indices] == '.')):
                x+=1
        x = y-x # cálculo para identificar quantas respostas existem no dataframe
        datatemp['Avaliar/10,00'][indices]= ((x/(len(dflist[cont].columns))*10))
        indices+=1
        
    dflist[cont] = pd.concat([datatemp, dflist[cont]], axis=1)
    dflist[cont]['Avaliar/10,00'] = dflist[cont]['Avaliar/10,00'].apply(lambda x: round(x, 2))

def mergedata():
    if len(dflist) == 1:
        data = dflist[0].iloc[:,0:2].copy()
        return data
    else:
        flag = 0
        for cont in range(len(dflist)):
            if flag == 0:
                data = dflist[cont].iloc[:,0:2].copy()
                flag += 1
            else:
                data = pd.concat([data,dflist[cont].iloc[:,0:2]], axis=1)
    return data

mergedata()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                Nome  Avaliar/10,00
0              Túlio          10.00
1             victor          10.00
2             victor          10.00
3    Mateus Henrique          10.00
4           Cristine          10.00
5             Thiago          10.00
6            Rodrigo          10.00
7     Tallis Marques          10.00
8              Paulo           9.33
9   Thaynara Mabille           9.67
10            Victor           7.67
11          Leonardo           7.67
12  Leidiane Beatriz          10.00
13            Alison          10.00
14           Isabela          10.00
15     Juliana Maria          10.00

In [ ]:
# Exportar para .CSV

In [65]:
data.to_csv('final.csv',index=False , sep=';', encoding='utf-8')